{{ form_start(form) }}
<div class="contenedor-tabla">
    {{ form_widget(form) }}
</div>
<div class="new">
    <button class="btn-blue2">{{ button_label|default('Guardar') }}</button>
</div>
{{ form_end(form) }}
